#container {
    background-image: url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100vw
}

#maze {
    background-color: rgba(255, 255, 255, 0.473);
    height: 90vh;
    width: 90vw;
    position: relative;
    border-radius: 40px;
    top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

#animate {
    width: 7vw;
    height: 7vw;
    position: absolute;
    animation: myWisp 5s infinite;
}

#imgAnimate {
    width: 7vw;
    height: 7vw;
}

#mazeButton {
    top: 90px;
    position: absolute;
}

#img {
    width: 200px;
    height: 200px;
}

.cloud {
    animation-name: cloud-animation;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#cloud1 {
    position: absolute;
    top: 0vw;
    left: 1.5vw;
}

#cloud1img {
    width: 22vw;
}

#cloud2 {
    position: absolute;
    top: 15vw;
    left: 1.5vw;
    animation-delay: 0.5s;
}

#cloud2img {
    width: 16vw;
}

#cloud3 {
    position: absolute;
    top: 24vw;
    left: 17vw;
}

#cloud3img {
    width: 22vw;
}

#cloud4 {
    position: absolute;
    top: 0.5vw;
    left: 30vw;
    animation-delay: 0.8s;
}

#cloud4img {
    width: 25vw;
}

#cloud5 {
    position: absolute;
    top: 20vw;
    left: 42vw;
    animation-delay: 0.4s;
}

#cloud5img {
    width: 18vw;
}

#cloud6 {
    position: absolute;
    top: 1vw;
    left: 60vw;
}

#cloud6img {
    width: 19vw;
}

#cloud7 {
    position: absolute;
    top: 15vw;
    left: 65vw;
    animation-delay: 0.4s;
}

#cloud7img {
    width: 16vw;
}

#cloud8 {
    position: absolute;
    top: 25vw;
    left: 68vw;
    animation-delay: 0.8s;
}

#cloud8img {
    width: 20vw;
}

#title {
    position: relative;
    float: left;
}

#exit {
    position: relative;
    float: right;
}

@keyframes cloud-animation {
    from {
        transform: translateX(-3vw);
    }
    to {
        transform: translateX(3vw);
    }
}

@keyframes myWisp {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}