
@font-face {
    font-family: 'Galey';
    src: local('Galey'), url(../fonts/Galey-RoundedExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Galey';
    src: local('Galey'), url(../fonts/Galey-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'VisbyRound';
    src: local('VisbyRound'), url(../fonts/VisbyRound-Light.otf) format('opentype');
}

@font-face {
    font-family: 'VisbyRound';
    src: local('VisbyRound'), url(../fonts/VisbyRound-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'VisbyRound';
    src: local('VisbyRound'), url(../fonts/VisbyRound-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'VisbyRound';
    src: local('VisbyRound'), url(../fonts/VisbyRound-DemiBold.otf) format('opentype');
}

.StudentReward {
    padding: 3em;
}

.StudentReward > h1 {
    font-family: VisbyRound;
    text-align: center;
}

.Rewards {
    padding: 2em;
}

.StudentReward > Card {
    height: 150px;
    width: 150px;
    align-content: center;
}

.cardPic {
    align-self: center;
    width: 320px;
    height:250px;
}